rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /users/{uid}/{path=**} {
            // Read and write if owner of document
            allow read, write: if request.auth.uid == uid;
        }

        match /groups/gid {
            allow create: if request.auth.uid == uid;
            
            match /members/{uid} {
                allow delete, update: if request.auth.uid == uid; 
            }
        }

        function hasAccessToGroup(teamId, role) {
            return get(/databases/$(database)/documents/teams/$(teamId)/memberships/$(request.auth.uid)).data.role ==
                   role;
        }
    }
}
